<!DOCTYPE html>
<html ng-app="app">
<body>

    <div ng-controller="IndexCtrl">
        <input ng-model="value" /><a href="#" ng-click="createValue()">Create Value</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <script>
        var app = angular.module('app', []);
        app.factory('ValueFactory', function ($http) {
            return {
                createValue: function (value) {
                    return $http.post('http://localhost:45211/api/values/add/', value);
                }
            };
        });

        app.controller('IndexCtrl', function ($scope, ValueFactory) {

            var success = function (data, status, headers, config) {
                alert('Success');
            };

            var error = function () {
                alert('Error');
            };

            $scope.createValue = function () {
                ValueFactory.createValue($scope.value).success(success).error(error);
            };
        });
    </script>
</body>
</html>
